/.idea
/.svn
.DS_Store
/sitemap/*
/app/etc/local.xml
wp-config.php
.htpasswd
tools.php
/.htaccess
/git-deploy
git/log.js
/media/*
!/media/.htaccess
/lib/kint/*
*.cache
*.log
*.lock
*.tmp
*.bk
robots_default.txt
robots_b2b.txt
/bk
/break
/var/*
!/var/.htaccess
.scss-cache
/skin/frontend/rwd/sexyhair/scss/.sass-cache/*
/skin/frontend/rwd/sexyhair/scss/runsass.bat
/media/iwd_video/*
/lib/FB.php
/lib/FirePHP.php
/b2b/*
/robots_live_bk.txt
/sitemap.xml
/errors/local.xml
